

/* ==========================================================================
   Custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Raleway&subset=latin,latin-ext);


$color-positive: #95E1D3;
$color-passion: #F38181;
$color-dark: #252A34;
$color-light: #EAEAEA;
$color-lightgreen: #EAFFD0;
$color-orange: #FCE38A;



html,body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

}


header{
  background:{
    image: url("../img/startup-photos.jpg");
    size: cover;
    position: center;
  }
  font-family: 'Raleway', sans-serif;
  padding: 0px !important;
  color: white;
  height: 300px;
  margin-bottom: 50px;
  h1{
    font-size: 5em;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 100px;
    letter-spacing: 1.2;
  }
  h3{
    text-align: center;
    color: white;
    letter-spacing: 1.1;
    color: $color-passion;
    font-size: 3em;
  }

  .header-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba($color-light, .6);
  }

}

.panel-primary{
  border-color: $color-positive;
  .panel-heading{
    background-color: $color-positive;
    border-color: $color-positive;
    background-image: none;
  }
}

.messages{
  border: 1px solid $color-light;
  height: 600px;
  overflow: scroll;
  margin-bottom: 10px;
  background-color: $color-light;
  font-family: 'Raleway', sans-serif;
  .message{
    background-color: white;
    margin-bottom: 10px;
    h3{
      font-size: 1.2em;
      padding: 5px 0px;
      padding-top: 10px;
      margin: 0px;
    }
    p{
      font-size: 0.9em;
    }

  }
}

.new-message{
  margin: 40px 0px;
  padding: 0px;
}


footer{
  background-color: $color-dark;
  padding: 20px;
  color: $color-light;
}














