

/* ==========================================================================
   Custom styles
   ========================================================================== */

$color-positive: #08D9D6;
$color-passion: #FF2E63;
$color-dark: #252A34;
$color-light: #EAEAEA;




header{
  background-color: $color-positive ;
  color: $color-light;
  height: 200px;
}






footer{
  background-color: $color-dark;
  padding: 20px;
  color: $color-light;
}














