

/* ==========================================================================
   Custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Raleway&subset=latin,latin-ext);


$color-positive: #95E1D3;
$color-passion: #F38181;
$color-dark: #252A34;
$color-light: #EAEAEA;
$color-lightgreen: #EAFFD0;
$color-orange: #FCE38A;



html,body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

}


header{
  background:{
    image: url("../img/startup-photos.jpg");
    size: cover;
    position: 0 400px ;
    attachment: fixed;
  }
  font-family: 'Raleway', sans-serif;
  padding: 0px !important;
  color: white;
  height: 300px;
  margin-bottom: 50px;
  h1{
    font-size: 5em;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 100px;
    letter-spacing: 1.2;
  }
  h3{
    text-align: center;
    color: white;
    letter-spacing: 1.1;
    color: $color-passion;
    font-size: 3em;
  }

  .header-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgba($color-light, .6);
  }

}

.panel-primary{
  border-color: $color-positive;
  .panel-heading{
    background-color: $color-positive;
    border-color: $color-positive;
    background-image: none;
  }
}

.messages{

  height: 600px;
  overflow: scroll;
  margin-bottom: 10px;

  font-family: 'Raleway', sans-serif;
  .message{
    background-color: white;
    margin-bottom: 10px;
    border: 0.5px solid $color-light;
    border-radius: 4px;
    transition: 400ms;
    padding: {
      top: 12px;
      bottom: 12px;
    };

    h3{
      font-size: 1.1em;
      color: $color-passion;
      padding: 5px 0px;

      margin: 0px;
      display: inline-block;
    }
    p{
      padding-left: 10px;
      font-size: 0.9em;
    }
    .img{
      padding: 0px;
      padding-top: 0px;
    }
    .mes{
      padding-left: 5px;
    }

    .date{
      font-family: 'Roboto', sans-serif;
      font-size: 0.8em;
      color: darken($color-light,5%);
    }

    &:hover{
      background-color: lighten($color-light,7%) ;
    }
  }
}

.new-message{
  margin: 40px 0px;
  padding: 0px;
}


footer{
  background-color: $color-dark;
  padding: 20px;
  color: $color-light;
}














