@charset "UTF-8";
/* ==========================================================================
   Custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700|Raleway&subset=latin,latin-ext);
html, body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif; }

header {
  background-size: cover;
  background-position: 0 400px;
  background-attachment: fixed;
  font-family: 'Raleway', sans-serif;
  padding: 0px !important;
  color: white;
  height: 100px;
  margin-bottom: 50px; }
  header h1 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 0px;
    padding-top: 30px;
    letter-spacing: 1.2; }
  header h3 {
    text-align: center;
    color: white;
    letter-spacing: 1.1;
    color: #394359;
    font-size: 2em;
    padding-top: 10px; }
  header .header-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(234, 234, 234, 0.6); }

.panel-primary {
  border-color: #BA6C65; }
  .panel-primary .panel-heading {
    background-color: #BA6C65;
    border-color: #BA6C65;
    background-image: none; }

.panel-danger {
  border-color: #F2BE8D; }
  .panel-danger .panel-heading {
    background-color: #F2BE8D;
    border-color: #F2BE8D;
    background-image: none; }

.logged-list {
  list-style: none; }
  .logged-list li {
    padding-left: 0em;
    padding: 0px;
    line-height: 2em; }
    .logged-list li:before {
      content: "• ";
      font-size: 2em;
      color: #0DA574;
      position: relative;
      top: 5px; }

.messages {
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  border-left: 3px solid #303242; }
  .messages .message {
    background-color: white;
    margin-bottom: 7px;
    border-radius: 4px;
    transition: 400ms;
    padding-top: 12px;
    padding-bottom: 12px; }
    .messages .message h3 {
      font-size: 1.1em;
      font-weight: 700;
      color: #394359;
      padding: 5px 0px;
      letter-spacing: 1px;
      margin: 0px;
      display: inline-block; }
    .messages .message p {
      padding-left: 12px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 4px;
      margin-top: 5px;
      font-size: 0.9em;
      letter-spacing: 0.8px;
      color: rgba(48, 50, 66, 0.85);
      background-color: rgba(234, 234, 234, 0.3); }
    .messages .message .img {
      padding: 0px;
      padding-top: 0px; }
    .messages .message .mes {
      padding-left: 15px; }
    .messages .message .date {
      font-family: 'Roboto', sans-serif;
      font-size: 0.8em;
      font-weight: 100;
      letter-spacing: 0.7px;
      color: #dddddd; }
    .messages .message:hover {
      background-color: #fcfcfc; }

.new-message {
  margin: 10px 0px;
  margin-bottom: 150px;
  padding: 0px; }
  .new-message h4 {
    color: rgba(48, 50, 66, 0.7);
    margin-bottom: 15px; }
  .new-message .help-block {
    color: rgba(48, 50, 66, 0.6); }
  .new-message textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none; }

#sendMessage {
  margin-top: 10px;
  color: #BA6C65;
  text-shadow: none;
  transition: 500ms;
  background-image: none;
  background-color: white;
  border-color: #BA6C65;
  padding: 10px 20px;
  border-radius: 40px;
  border-width: 2px; }
  #sendMessage:hover {
    background: rgba(234, 234, 234, 0.3); }
  #sendMessage:focus {
    outline: none; }

footer {
  background-color: #303242;
  padding: 20px;
  color: #EAEAEA; }

.hides {
  display: none; }

/*# sourceMappingURL=main.css.map */
